* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f2ec;
    color: #222;
}

/* NAVBAR */
.logo-img {
    align-content: center;
}

.logo-img img {
    /* justify-items: center; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background: #0b3d2e;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar>.attar {
    color: gold;
    text-align: center;
    padding: 20px;

}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(255, 255, 255, 0.356), rgba(255, 255, 255, 0.267)),
        url('productimg.jpeg') no-repeat center center/cover;
    /* display: flex; */

    padding: 50px;
    margin-bottom: 40px;

}

.hero-content {
    text-align: center;
    background: #0b3d2e;
    align-content: end;
    font-size: 48px;
    font: bold;
    color: gold;
    padding-bottom: 20px;
}


.price {
    margin-top: 15px;
}

.regular {
    text-decoration: line-through;
    color: #ccc;
    font-size: 20px;
    margin-right: 10px;
}

.offer {
    color: gold;
    font-size: 28px;
    font-weight: bold;
}

/* PRODUCT SECTION */
.product-section {
    
    padding: 60px 10%;
}

.product-container {
    background: #0b3d2e;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.product-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
}

.product-details {
    font-size: 30px;
    color: gold;
    flex: 1;
}

.product-details>p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ORDER SECTION */
.order-section {
    background: #fff;
    padding: 60px 10%;
    text-align: center;
}

.order-section form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select,
textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 80px;
}

.summary {
    text-align: left;
    margin-top: 10px;
}

button {
    background: #0b3d2e;
    color: gold;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        text-align: center;
    }

    .product-details {
        text-align: center;
    }
}